@model IEnumerable<TennisApp2.Models.Schedule>

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Member Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Member Home Page</h1>
</div>

<h1> My enrolled classes </h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LessonName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LessonStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LessonEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LessonName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LessonStartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LessonEndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    |
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    
                </td>}
                <td>
                <button type="button" onclick="add(@item.Id)" class="btn btn-primary">Unenrol</button>
                </td>
            </tr>
        }
    </tbody>
</table>
