@model IEnumerable<TennisApp2.Models.Coach>

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Coach Biographies";
}

<h1>Coach Biographies</h1>
@if (User.IsInRole("Admin"))
{
    <a class="btn btn-outline-primary float-right" asp-controller="Coaches" asp-action="Create">
        <i class="bi bi-eye-fill"></i> Add new coach
                                </a> }
<br />
<br />
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @item.UserName
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="@item.Image" width="100%" alt="@item.UserName">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <p class="card-text"><b>Biography: </b>@item.Biography</p>
                            <p class="card-text"><b>Expertise: </b>@item.Expertise</p>
                            <p class="card-text"><b>Accreditations: </b>@item.Accreditations</p>
                        </div>
                    </div>
                    @if (User.IsInRole("Admin"))
                    {                    
                        <div class="col-md-12">
                            <div class="card-footer ">                            
                                <p class="card-text">
                                    <a class="btn btn-outline-primary float-right" asp-action="Details" asp-route-id="@item.Id">
                                    <i class="bi bi-eye-fill"></i> Show Details
                                </a>
                            </p>
                        </div>
                    </div>}
                </div>
            </div>
        </div>
    }
</div>
